<div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-heading">
                  Comments
              </div>
              <div class="panel-body">
              	<form [formGroup]="commentForm" (ngSubmit)="submit()">
                  <input type="hidden" formControlName="id">
                  <input type="text" formControlName="title" class="form-control" placeholder="Title"
                  				required minlength="8">
                  <textarea required formControlName="comment" class="form-control" placeholder="Enter a comment." rows="3"></textarea>
                  <input type="text" formControlName="tags" class="form-control" placeholder="Tags">
                  <br>
                  <button type="submit" class="btn btn-info pull-right">Submit</button>
                  <div class="clearfix"></div>
                  <hr>
								</form>
 							</div>
 							<ul class="media-list">
								<app-comment [comments]="comments" (deleted)="deleteComment($event)" (edit)="editComment($event)"></app-comment>
							</ul>
						</div>