<li class="media" *ngFor="let comment of comments">
	<div class="media-body">
		<div class="comment-title">
			<span class=""><strong class="text-primary">{{ comment.title }}</strong></span>
			<a (click)="deleteComment(comment.id)" class="pull-right">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
			</a>
			<a (click)="editComment(comment.id)" class="pull-right">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</a>
		</div>
		
		<p [innerHTML]="comment.comment | safeHtml"></p>
	
	<div class="media-body">
		Tags:
		<span class="tags-wrapper" *ngFor="let tag of comment.tags">
			<span class="label label-info">{{tag}}</span>
		</span>
	</div></div>
</li>
